.card {
  align-items: center;
  background-color: $color-white;
  border-radius: 5px;
  color: $color-primary;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 258px;
  max-width: 258px;
  margin-right: 15px;
  padding: 10% 0;
  position: relative;

  @media (min-width: $tablet) {
    margin-right: 0;
    min-width: 200px;
    max-width: initial;
    padding: 5% 0;
  }

  &:first-child {
    @media (min-width: $tablet) {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
  }

  &__info {
    max-width: 80%;
  }

  &__image {
    height: 250px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    > img {
      max-width: 75%;
      margin: 0 auto;
    }

    @media (min-width: $tablet) {
      max-height: 130px;
      width: 80%;

      > img {
        margin: 0 auto;
        max-width: 100%;
        max-height: 150px;
      }
    }
  }

  &__name {
    margin: 5% 0;
    @media (min-width: $tablet) {
      > h3 {
        font-size: 1rem;
      }
    }
  }

  &__icons {
    img {
      margin-left: 10px;
    }
  }

  &__price-icon {
    display: flex;
    justify-content: space-between;
  }

  &--favorite:first-child:before {
    content: "Staff favorite";
    color: white;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: $color-primary-light;
    padding: 12px 16px;
    border-radius: 0px 25px 25px 0px;
  }

  &:first-child {
    @media (min-width: $tablet) {
      padding: 10% 0;
      align-items: flex-end;
      .card__image {
        > img {
          max-height: 300px;
        }
      }
      .card__info {
        display: flex;
        align-items: center;
      }
      .card__name {
        width: 65%;
        margin: 0;
      }
      .card__price-icon {
        width: 35%;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
      .card__price {
        margin-bottom: 10px;
        > h4 {
          font-size: 24px;
          margin: 0;
        }
      }
      .card__icons {
        > img {
          width: 24px;
        }
      }
      .card__name {
        > h3 {
          font-size: 35px;
        }
      }
    }
  }
}
