.dropdown {
  width: 100%;
  position: relative;
  z-index: 2;
  color: $color-gray-light;

  .dropdown-select {
    padding: 0.6rem 1rem;
    border: 1px solid $color-gray-light;
    border-radius: 25px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &__icon {
      position: relative;
      height: 15px;
      width: 15px;
      transition: all 0.2s;
    }
    &__icon:after,
    &__icon:before {
      content: "";
      position: absolute;
      bottom: 0px;
      width: 0.085rem;
      height: 100%;
      transition: all 0.2s;
    }
    &__icon::before {
      left: -5px;
      transform: rotate(-45deg);
      background-color: $color-gray-light;
    }
    &__icon::after {
      left: 5px;
      transform: rotate(45deg);
      background-color: $color-gray-light;
    }
  }

  .dropdown-list {
    width: 100%;
    border-left: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
    border-right: 1px solid $color-gray-light;
    border-radius: 0 0 $dropdown-radius $dropdown-radius;
    background-color: $color-white;
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;

    &__item {
      padding: 1rem;
      cursor: pointer;

      &:hover {
        background-color: $color-primary-light;
        color: $color-white;
      }
      &:last-child:hover {
        border-radius: 0 0 $dropdown-radius $dropdown-radius;
      }
    }
  }

  &--open .dropdown-list {
    opacity: 1;
    visibility: visible;
  }
  &--open .dropdown-select__icon:before {
    transform: rotate(45deg);
  }
  &--open .dropdown-select__icon:after {
    transform: rotate(-45deg);
  }
  &--open .dropdown-select {
    border-radius: $dropdown-radius $dropdown-radius 0 0;
  }
}
