.hero {
  background-color: $color-primary-light;
  padding-bottom: 1.875rem;
  position: relative;

  &__content {
    position: absolute;
    top: 0.5px;
    margin: 0 $lateral-margin;
    z-index: 3;
  }

  &__logo {
    margin-top: 1.6rem;
  }

  &__title {
    font-size: 2rem;
    color: #ffffff;
    margin: 2rem 0 1.6rem;
  }

  &__images {
    .leaves {
      position: relative;
      z-index: 2;
    }
    .plant-person {
      display: flex;
      margin: 0 auto;
      margin-top: -90px;
      max-width: 85%;
      position: relative;
    }
  }
}
