.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  @media (min-width: $tablet) {
    max-width: 65%;
    margin: 0 auto;
  }
}

.center-absolute {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5% auto;
  @media (min-width: $tablet) {
    margin: 1% auto;
  }
}

.flip-image {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#cards {
  display: flex;
  overflow: scroll;
  max-width: initial;
  padding: 5% 10%;
}

.loader {
  padding: 15% 0;
  display: none;
  &--show {
    display: block;
  }
}
